---
import BaseLayout from '../layouts/BaseLayout.astro'; {/* 引入布局 */}
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "博客";
const myName = "eve^^";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));{/* glob 模式是一个支持特殊通配符的文件路径。用于一次引用项目中的多个文件 */}

---

<BaseLayout pageTitle={pageTitle}>
  <p>在这里，我将分享我的 Astro 学习之旅。</p>
  <ul>
   
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

  </ul>
</BaseLayout>