---
const { platform, username,project } = Astro.props; {/* 使用解构赋值获取传入的属性 */}
---
<a href={`https://www.${platform}.com/${username}/${project}`}>{platform}</a>


<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
  </style>